@import "./common/fonts";
@import "./common/base-button";
@import "./common/page";
@import "./common/hero-animation";
@import "./common/animation";

:root {
  --text-black: #000;
  --text-grey: #606060;
  --bg-grey: rgba(245, 245, 245);
  --primary-color: rgb(0, 85, 186);
  --bg-grey: rgb(245, 245, 245);
  --bg-green: #61a945;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Duplicate Sans", "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  color: var(--text-black);
}
