.base-button {
  font-size: inherit;
  background: transparent;
  border: none;
  font-family: inherit;
  padding: 0.8125rem 1.25rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  &--primary {
    @extend .base-button;
  }

  &--secondary {
    @extend .base-button;
    color: var(--text-black);
    background-color: var(--bg-grey);
  }

  &--clear {
    @extend .base-button;
    background-color: transparent;
    color: var(--text-black);
  }

  &--link {
    color: var(--primary-color);
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      width: 25px;
      height: 25px;
      flex-shrink: 0;
    }
  }

  svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
